<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-uppercase text-warning display-6">@Model.Title</h2>
            <p class="text-muted h5">@Model.Description</p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <h2 class="my-3 display-6">Details of Exercise</h2>
            <h3 class="h3">@Model.Detail.Title</h3>
            <p class="h5">@Model.Detail.Description</p>
            <p class="h5"><strong>Category:</strong> @Model.ExerciseCategory</p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <h3 class="my-3 display-6">Case to perform</h3>
            <img class="img-fluid rounded shadow" src="@Model.Detail.URL" alt="Image">
        </div>
    </div>
</div>
