@model IEnumerable<Exercise>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Index" method="get" class="form-inline">
                <div class="input-group mb-3">
                    <input type="text" name="SearchString" class="form-control" value="@ViewData["CurrentFilter"]" placeholder="Search..." aria-describedby="button" />
                    <button type="submit" class="btn btn-primary" id="button">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-12">
                <div class="card text-white bg-dark mb-3 shadow" style="background-image: url('@item.Image'); background-size: cover;"
                    onclick="location.href='@Url.Action("Detail", "Exercise", new { id = @item.Id })';">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@(item.Description.Length > 50 ? item.Description.Substring(0, 50) + "..." : item.Description)</p>
                        <p class="text-body-secondary">@item.ExerciseCategory</p>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                        {
                         <div class="btn-group">
                            <a asp-controller="Exercise" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-light">Edit</a>
                            <a asp-controller="Exercise" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-light">Delete</a>
                        </div>                           
                        }
                        <form asp-controller="Exercise" asp-action="AddToFavorites" method="post" class="d-inline">
                            <input type="hidden" name="exerciseId" value="@item.Id" />
                            <button type="submit" class="btn btn-sm btn-outline-light">Add to Favorites</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



