@inject SignInManager<AppUser> SignInManager
@using Microsoft.AspNetCore.Identity
@model MuscleMate_Gym.ViewModels.DashboardViewModel


<h3>You are in User Dashboard</h3>
<a type="button" class="btn btn-primary" asp-area="" asp-controller="Dashboard" asp-action="EditUserProfile">Edit User Profile</a>
@if (User.Identity.IsAuthenticated && User.IsInRole("user") || User.IsInRole("admin"))
{
    <a type="button" class="btn btn-primary" asp-area="" asp-controller="Exercise" asp-action="Create">Create Exercise</a>
}
<div class="container mt-3">
    <h3>Your Exercises</h3>
    <p>Must been below when you creating exercises</p>
        @foreach (var item in Model.Exercises)
        {
            <div class="col-md-12">
                <div class="card text-white bg-dark mb-3 shadow" style="background-image: url('@item.Image'); background-size: cover;"
                     onclick="location.href='@Url.Action("Detail", "Exercise", new { id = @item.Id })';">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@(item.Description.Length > 50 ? item.Description.Substring(0, 50) + "..." : item.Description)</p>
                        <p class="text-body-secondary">@item.ExerciseCategory</p>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                        {
                            <div class="btn-group">
                                <a asp-controller="Exercise" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-light">Edit</a>
                                <a asp-controller="Exercise" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-light">Delete</a>
                            </div>
                        }
                        <form asp-controller="Exercise" asp-action="AddToFavorites" method="post" class="d-inline">
                            <input type="hidden" name="exerciseId" value="@item.Id" />
                            <button type="submit" class="btn btn-sm btn-outline-light">Add to Favorites</button>
                        </form>
                    </div>
                </div>
            </div>
            }
    </div>
</div>